.notes{
  width: 500px;
  margin-top: 20px;
  float: left; 
  margin-left: 27px;
}

.note {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  /* cursor: pointer; */

}

.note.finished {
  text-decoration: line-through;
}

.note p {
  display: flex;
  justify-content: space-between;
}
.note_adding{
  border :1
}
