/* Task */
.task {
  background: #f4f4f4;
  margin: 5px 0 20px 0;
  padding: 10px 20px;
}

.task.finished {
  border-left: 8px solid green;
  text-decoration: line-through;
}

.task h3 {
  display: flex;
  justify-content: space-between;
}
.task p {
  display: flex;
  justify-content: space-between;
}
.task_adding {
  border: 1;
}

.add-task {
  min-width: 462px;
  padding: 0 0 0 10px;
  margin: 20px 0 0 0;
}
