/* Task Icons */
.remove-icon {
  color: red;
  cursor: pointer;
}
.remove-icon:hover {
  transform: scale(1.069);
}

.notes-icon {
  color: grey;
  cursor: pointer;
}

.notes-icon:hover {
  color: #000;
  transform: scale(1.069);
  transition: ease-out;
}

.notes-icon-active {
  color: green;
  cursor: pointer;
  font-size: 28px;
}
.notes-icon-not-empty {
  color: #000;
  cursor: pointer;
  font-size: 28px;
}

.add-notes-icon {
  color: grey;
  font-size: 27px;
  cursor: pointer;
}

.add-notes-icon:hover {
  color: #000;
  transform: scale(1.069);
  transition: ease-out;
}
.add-notes-icon-active {
  color: green;
  cursor: pointer;
  font-size: 28px;
}

.mark-finished-icon {
  color: grey;
  font-size: 27px;
  cursor: pointer;
}

.mark-finished-icon:hover {
  color: #000;
  transition: ease-out;
  transform: scale(1.069);
}

.mark-finished-icon-active {
  color: green;
  font-size: 28px;
  cursor: pointer;
}
