@import url("https://bootswatch.com/5/sketchy/bootstrap.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: auto;
  margin-right: 100px;
  overflow: auto;
  border: 1px;
  padding: 10px;
  border-radius: 5px;
  margin-left: auto;
}

.content-container {
  flex-direction: row-reverse;
}
.tasks-container {
  width: 500px;
  margin-top: 20px;
  float: left;
  margin-left: 27px;
}
